NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://neondb_owner:npg_1fLKXQrUYuh0@ep-purple-resonance-acz6llrj-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

API_KEY=troque-por-uma-chave-segura